canvas { 
	background: white; 
	margin-top: 40px;
	width: 960px !important;
}
.controls {
	position: fixed;
	top: 30px;
	right: 30px;
	width: 120px;
}
	.controls a {
		display: inline-block;
		width: 37px;
		height: 37px;
		border: none;
		cursor: pointer;
	}
	#zoomOut { margin-right: 20px; }
	#close {
		position: fixed;
		right: 30px;
		top: 30px;
		opacity: .65;
	}